label {
  display: block;
  margin: 1.5rem 0;
}

input,
select,
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2.5em;
}

.inline {
  width: unset;
  margin: 0 1em 0 0;
  vertical-align: middle;
}
